*{
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(34, 33, 33);
}
header{
    background-color: #e0e0e0;
    font-family: "Protest Revolution", sans-serif;
    width: 240px;
    text-align: center;
    border-radius: 15px 15px 0px 0px;
    padding: 7px;
    font-size: 12px;
    margin-top: 25px;
    border-top: 3px solid #131313;
    border-left: 3px solid #131313;
    border-right: 3px solid #131313;
}
main{
    box-shadow: 0px 5px 15px rgb(61, 61, 61);
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    border-radius: 15px 15px 0px 0px;
    background-color: #131313;
    width: 380px;
    padding: 10px 10px 0px 10px ;
}
/*--------------------BOTÕES------------------*/
#buttons{
    display: flex;
    flex-direction: column;
    width: 260px;
    margin-top: 10px;
}
.button{
    padding: 15px;
    text-align: center;
    width: 230px;
    background-color: #e0e0e0;
    border-radius: 55px;
    margin-bottom:35px ;
    transition:transform ease 0.2s;
    border: 4px solid white;
    font-weight: bolder;
}
.button:hover{
    background-color: #ffffff;
    border: 4px solid #e0e0e0;
    cursor: pointer;
    transform: translate(-3px,-3px);
}
#buttons a{
    text-decoration: none;
    color: black;
}
/*-----------------HORARIOS DE FUNCIONAMENTO-----------*/
#horarios-funcionamento{
    display: flex;
    justify-content: center;
    color: white;
}
#horarios-funcionamento span{
    color: rgb(0, 4, 255);
    transition: ease 0.3s font-size;
}
#horarios-funcionamento span:hover{
    font-size: 17px;
}
#horarios-funcionamento span:hover{
    cursor: pointer;
}

/*--------------------LOCALIZAÇÃO------------------*/

#localizacao{
    display: none;
}
#ocultarmapa{
    background-color: #e0e0e0;text-align: center;
    padding: 5px;
    border-radius: 30px;
    width:120px;
    position: relative;
    left: 60%;
}
#ocultarmapa:hover{
    cursor: pointer;
}
iframe{
    width: 325px;
}
/*--------------------RECADO------------------*/
#recado{
    width: 340px;
    display: none;
    background-color: #e0e0e0;
    padding: 10px;
    border-radius: 15px;
    border: solid black 2px;
    box-sizing: border-box;
}
#ocultar-recado{
    display: none;
    background-color: #ffffff;text-align: center;
    padding: 5px;
    border-radius: 30px;
    width:100px;
    position: relative;
    left: 65%;
    border: 1px solid black;
}
#ocultar-recado:hover{
    cursor: pointer;
}
#explic{
    text-indent: 20px;
    text-align: justify;
    line-height: 1.5;
    margin-bottom: 10px;
}
/*--------------------TABELA------------------*/
table{
    background-color: #e0e0e0;
    border-collapse: collapse;
    width: 300px;
    margin:0 auto 15px auto;
}
th,td{
    padding: 2px;
    text-align: center;
    border: solid black 2px;
}
/*--------------------fOOTER------------------*/
footer{
    background-color: #e0e0e0;
    width: 380px;
    text-align: center;
    border-radius: 0px 0px 15px 15px;
    padding: 10px;
    box-sizing: border-box;
}