*{
    margin: 0;
    padding: 0;
}
body{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(46, 46, 46);
}
header{
    background-color: #e0e0e0;
    font-family: "Protest Revolution", sans-serif;
    width: 300px;
    text-align: center;
    border-radius: 15px 15px 0px 0px;
    padding: 10px;
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    border-radius: 15px 15px 0px 0px;
    background-color: rgb(19, 19, 19);
    width: 600px;
    padding: 10px 10px 0px 10px ;
}
/*--------------------BOTÕES------------------*/
#buttons{
    display: flex;
    flex-direction: column;
    max-width: 600px;
    margin-top: 10px;
}
.button{
    padding: 15px;
    text-align: center;
    width: 400px;
    background-color: #e0e0e0;
    border-radius: 55px;
    margin-bottom:15px ;
    transition:transform ease 0.2s;
}
.button:hover{
    cursor: pointer;
    transform: translate(-3px,-3px);
}
#buttons a{
    text-decoration: none;
    color: black;
}
/*-----------------HORARIOS DE FUNCIONAMENTO-----------*/
#horarios-funcionamento{
    display: flex;
    justify-content: center;
    color: white;
}
#horarios-funcionamento span{
    color: rgb(0, 4, 255);
}
#horarios-funcionamento span:hover{
    cursor: pointer;
}
/*--------------------LOCALIZAÇÃO------------------*/

#localizacao{
    display: none;
}
#ocultarmapa{
    background-color: #e0e0e0;text-align: center;
    padding: 5px;
    border-radius: 30px;
    width:120px;
    position: relative;
    left: 72%;
}
#ocultarmapa:hover{
    cursor: pointer;
}
/*--------------------RECADO------------------*/
#recado{
    display: none;
    background-color: #e0e0e0;
    padding: 10px;
    border-radius: 15px;
    border: solid black 2px;
}
#ocultar-recado{
    display: none;
    background-color: #ffffff;text-align: center;
    padding: 5px;
    border-radius: 30px;
    width:100px;
    position: relative;
    left: 70%;
    border: 1px solid black;
}
#ocultar-recado:hover{
    cursor: pointer;
}
#explic{
    text-indent: 20px;
    text-align: justify;
    line-height: 1.5;
    margin-bottom: 10px;
}
/*--------------------TABELA------------------*/
table{
    background-color: #e0e0e0;
    border-collapse: collapse;
    width: 335px;
    margin:0 auto 15px auto;
}
th,td{
    padding: 2px;
    text-align: center;
    border: solid black 2px;
}
/*--------------------fOOTER------------------*/
footer{
    background-color: #e0e0e0;
    width: 600px;
    text-align: center;
    border-radius: 0px 0px 15px 15px;
    padding: 10px;
    box-sizing: border-box;
}