@charset "utf-8";

* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}




body {
    background-color: #161616;
}

#site {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 563px;
}

/*-----------------------HEADER---------------------------------*/
header{
    margin: auto;
    width: 239px;
    text-align: center;
    color: rgb(0, 0, 0);
    background-color:#e0e0e0;
    padding: 15px;
    border-radius: 30px 30px 0px 0px;
}

h1 {
    font-family: "Protest Revolution", sans-serif;
}
/*--------------------------------------------------------------*/

/*------------------------CONTEUDO PRINCIPAL-------------------*/
#conteudo-principal{
    border-radius: 15px 15px 0px 0px;
    margin: auto;
    padding-top: 20px;
    background-color: #212121;
    max-width: 563px;
    height: 330px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    row-gap: 25px;
}

.button{
    border-radius: 25px;
    background-color: #e0e0e0;
    width: 375px;
    height: 49px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform ease 0.2s;
}

div.button > a{
    color: rgb(0, 0, 0);
    text-decoration: none;
}

.button:hover{
    background-color: white;
    cursor: pointer;  
    transform: translate(-5px,-5px);
    box-shadow: 6px 6px 15px black;
}

div#alerta {
    margin: auto;
    background-color: #212121;
    max-width: 563px;
    height: 85px;
}

div#alerta img{
    position: relative;
    top: -3px;
    left: 250px;
}

div#alerta p{
    width: 180px;
    height: 50px;
    color: white;
    position: relative;
    top: -67px;
    left: 68px;
}

div#alerta span{
    color: blue;
}

div#alerta span:hover{
    cursor: pointer;
}
/*--------------------------------------------------------------*/

/*----------------------------FOOTER------------------------------*/
footer{
    margin: auto;
    background-color: #e0e0e0;
    max-width: 563px;
    height: 50px;
    border-radius: 0px 0px 15px 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer > p{
    color: rgb(0, 0, 0);
    text-align: center;
    font-size: 10px;
}
/*----------------------------------------------------------------*/

/*----------------------------MAPA---------------------------------*/
div#localizacao{
    max-width: 563px;
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -56%);
}

#mapa{
    border-radius: 15px 15px 0px 0px;
}

#fechar{
    z-index: 1000;
    background-color:#e0e0e0;
    border-radius: 5px;
    padding: 10px;
    width: 117px;
    position: relative;
    left: 72%;
}

#fechar:hover{
    cursor: pointer;
}
/*----------------------------------------------------------------*/

div#recado-horario{
    display: none;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -47.8%);
    background-color: #e0e0e0;
    width: 563px;
    height: 435px;
    padding: 25px;
    box-sizing: border-box;
    border-radius: 15px 15px 0px 0px;
}
div#recado-horario > p{
    text-align: justify;
    line-height: 1.5;
    text-indent: 20px;
}

table#disponibilidade-semanal1{
    margin-top: 10px;
    border-collapse: collapse;
}
th,td{
    text-align: center;
    padding: 5px;
    border: 1px solid black;
}

#fechar-recado1:hover{
    cursor: pointer;
}

#fechar-recado1{
    background-color: #212121;
    position: relative;
    left: 70%;
    top: 4%;
    border-radius: 5px;
    padding: 10px;
    width: 117px;
    text-align: center;
    color: white;
}


table#disponibilidade-semanal2{
    display: none;
 
}
#fechar-recado2{
    display: none;
    background-color: #212121;
    position: relative;
    left: 64%;
    top: 1%;
    border-radius: 5px;
    padding: 5px;
    width: 117px;
    text-align: center;
    color: white;
}